*,
*::after,
*::before {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.container {
  width: 100%;
  max-width: 312px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Layouts */

header {
  width: 100%;
  max-width: 312px;
  background-color: #009099;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
}

/**Main**/
.main {
  background-color: #b6a299;
  margin-top: 4rem;
  padding: 1rem;
}

.star-product,
.other-products {
  border: 2px solid #009099;
  border-radius: 1rem;
}

.other-products {
  margin-top: 2rem;
}

.star-product,
.other-products,
.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Images */

.logo {
  width: 150px;
  height: 32px;
}

.star-product img,
.other-products img {
  width: 248px;
  display: block;
  margin: 0 auto;
}

/* Typography */

h1,
h2,
h3 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.star-product h2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.star-product h2 span,
.other-products h3 {
  color: #7edce1;
  font-size: 1.8rem;
}

.other-products h2 {
  margin-top: 1rem;
}

hr {
  width: 200px;
  height: 0.5rem;
  background-color: #292a2d;
  border: none;
  border-radius: 1rem;
  margin: 1rem;
}

p {
  line-height: 1.5;
  color: #292a2d;
  font-size: 1.2rem;
  margin: 1rem;
}

/* buttons */

.see-more {
  background-color: #009099;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 25px;
  margin: 1rem;
  padding: 0.5rem;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 150px;
}
